/*
    Configure Users Style:
*/

.navbar {
    background-color: #54d38e;
    overflow: hidden;
}

.navbar a {
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 17px;

}

.navbar a:hover {
    background-color: black;
    color: white;
}

.navbar a.active {
    background-color: cornflowerblue;
    color: black;
}

.userContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.userBox {
    width: 300px;
    height: auto;
    background-color: white;
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
}

.edit-modal {
    width: 500px;
    height: 500px;
}

.addUserModal {
    padding: 8px;
    font-size: 15px;
}

.create-user {
    width: 500px;
    height: 500px;
}

.required:after {
    content: "*";
    color: red;
}

/*
    Display Courses style:
 */
.container {
    text-align: center;
}

.centered-list {
    display: inline-block;
    text-align: center;
}

.ol {
    border: 5px solid cornflowerblue;
}

.p {
    font-size: 20px;
    margin: 10px 0;
    border: 2px solid #54d38e
}

ul { /*Outer bullet*/
    list-style-type: disc;
    margin: 0;
}

ul ul { /*Inner bullet*/
    margin: 0;
    list-style-type: circle;
}


/*
    User directory formatting
*/


/*
Configure Courses page css:
*/

.instructor-checkboxes {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.instructor-checkboxes div {
    margin-bottom: 5px;
}


.edit-course-modal {
    width: 350px;
    height: 350px;
}