/*
Configure User style
 */



.addBtn {
    margin-left: 2%;
    font-size: 1vw;
    padding: 0.9% 0.7%;
    background-color: #54d38e;
    font-weight: bold;
    color: #000000;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.2);
}

.addBtn:hover {
    background-color: #34875a;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
}

.removeButton {
    font-size: 1vw;
    padding: 2% 2%;
    background-color: indianred;
    font-weight: bold;
    color: white;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.2);
}

.removeButton:hover {
    background-color: #a4494c;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
}

.editButton {
    margin-top: 1%;
    font-size: 1vw;
    padding: 2% 2%;
    background-color: cornflowerblue;
    font-weight: bold;
    color: white;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.2);
}

.editButton:hover {
    background-color: #185bd3;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
}

.boxContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.whiteBox {
    width: 100%;
    max-width: 20rem;
    height: auto;
    background-color: white;
    margin-left: 2%;
    margin-top: 1%;
    text-align: center;
    position: relative;
    padding-bottom: 5rem;
}

.edit-modal {
    width: 90vw;
    max-width: 31.25rem;
    height: auto;
    max-height: 31.25rem;
}

.addUserModal {
    padding: 0.5rem;
    font-size: 0.9375rem;
}

.create-user {
    width: 90vw;
    max-width: 31.25rem;
    height: auto;
    max-height: 31.25rem;
}

.submitAndCancelButtons {
    display: flex;
    justify-content: flex-start;
    gap: 0.625rem;
    margin-top: 0.625rem;
}

.required:after {
    content: "*";
    color: red;
}

summary {
    background-color:white;
    padding: 0.625rem;
    cursor: pointer;
}

.buttons-container {
    position: absolute;
    margin-top: 14%;
    display: flex;
    justify-content: space-between;
    width: 99%;
}

.remove-popover {
    background-color: #fff;
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    width: 40%;
    max-width: 60rem;
    min-width: 20rem;
    text-align: center;
    box-sizing: border-box;
}

.confirmButton {
    background-color: indianred;
    color: #fff;
    border: none;
    padding: 0.5rem 0.75rem;
    border-radius: 0.2rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.noButton {
    background-color: cornflowerblue;
    color: #fff;
    border: none;
    padding: 0.5rem 0.75rem;
    border-radius: 0.2rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.confirmButton:hover,
.noButton:hover {
    opacity: 0.8;
}

/*
    Courses Directory style:
 */
.container {
    text-align: center;
}

.centered-list {
    display: inline-block;
    text-align: center;
}

.ol {
    border: 0.3125rem solid cornflowerblue;
}

.p {
    font-size: 1.25rem;
    margin: 0.625rem 0;
}

.applyFilter {
    margin-left: 2%;
    font-size: 1vw;
    padding: 0.8% 0.8%;
    background-color: cornflowerblue;
    font-weight: bold;
    color: #202020;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.2);
}

.applyFilter:hover {
    background-color: #4f77bc;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.2);
}

/*
    User directory formatting
*/


/*
Configure Courses page css:
*/

.section-modal{
    width: 90vw;
    max-width: 31.25rem;
    height: auto;
    max-height: 31.25rem;
}
.addCourseAndSectionBtn {
    margin-left: 2%;
    font-size: 1vw;
    padding: 0.8% 0.8%;
    background-color: #54d38e;
    font-weight: bold;
    color: black;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.2);
}

.addCourseAndSectionBtn:hover {
    background-color: #3d9e66;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
}

.alignCourseButtons {
    margin-top: 1%;
    display: flex;
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
}

.instructor-checkboxes {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.instructor-checkboxes div {
    margin-bottom: 0.5rem;
}

.day-checkboxes {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.day-checkboxes div {
    margin-bottom: 0.5rem;
}

.edit-course-modal {
    width: 80vw;
    max-width: 28rem;
    height: auto;
    max-height: 22rem;
}


/*
    For all styles:
*/

.formTitle {
    width: 100%;
    text-align: center;
    background-color: #54d38e;
    color: black;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 2%;
    border-bottom: 2px solid black;
}

.navbar {
    background-color: #54d38e;
    overflow: hidden;
}

.pfplogo1 {

    display: inline-block;
}

.pfplogo2 {
    margin-left: 87%;
    display: inline-block
}

.navbar a {
    padding: 0.625rem;
    color: midnightblue;
    text-align: center;
    font-size: 1.0625rem;
    text-decoration: none;
}

.navbar a:hover {
    background-color: black;
    color: white;
    border-bottom: 0.125rem solid black;
}

.navbar a.active {
    background-color: cornflowerblue;
    color: black;
}

.greenBtn {
    margin-top: 2%;
    margin-right: 5%;
    font-size: 1vw;
    padding: 0.7% 2%;
    background-color: #54d38e;
    font-weight: bold;
    color: black;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.2);
}

.greenBtn:hover {
    background-color: #3d9e66;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
}

.cancelButton {
    margin-top: 2%;
    margin-left: 5%;
    font-size: 1vw;
    padding: 0.7% 2%;
    background-color: lightgrey;
    font-weight: bold;
    color: black;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.2);
}

.cancelButton:hover {
    background-color: #919090;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);;
}

.formTable {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.formTable div {
    display: flex;
    flex-direction: column;
}

.formTable .fullWidth {
    grid-column: span 2;
}