/*
    Configure Users Style:
*/


.navbar {
    background-color: #54d38e;
    overflow: hidden;
}

.navbar a {
    padding: 10px;
    color: midnightblue;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: black;
    color: white;
    border-bottom: 2px black;
}

.navbar a.active {
    background-color: cornflowerblue;
    color: black;
}

.boxContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.whiteBox {
    width: 300px;
    height: auto;
    background-color: white;
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
}

.edit-modal {
    width: 500px;
    height: 500px;
}

.addUserModal {
    padding: 8px;
    font-size: 15px;
}

.create-user {
    width: 500px;
    height: 500px;
}

.formTable {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.formTable div {
    display: flex;
    flex-direction: column;
}

.formTable .fullWidth {
    grid-column: span 2;
}

.submitAndCancelButtons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px;
}

.required:after {
    content: "*";
    color: red;
}

summary {
    background-color: #530e0e;
    padding: 10px;
    cursor: pointer;
}


/*
    Display Courses style:
 */
.container {
    text-align: center;
}

.centered-list {
    display: inline-block;
    text-align: center;
}

.ol {
    border: 5px solid cornflowerblue;
}

.p {
    font-size: 20px;
    margin: 10px 0;
}



/*
    User directory formatting
*/


/*
Configure Courses page css:
*/


.form-label {
    display: block;
    margin-bottom: 5px;
}


.instructor-checkboxes {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.instructor-checkboxes div {
    margin-bottom: 5px;
}

.day-checkboxes {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.day-checkboxes div {
    margin-bottom: 5px;
}

.edit-course-modal {
    width: 350px;
    height: 350px;
}

.edit-lab-modal {
    width: 350px;
    height: 350px;
}
