<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | Admin | Scheduler</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body style="background-color: rgb(217,217,217)">
<a href="home.html">
    <img src="/static/Logo.jpeg" alt="TA Scheduler Logo" style="height: 75px; width: auto;">
</a>
    <div class="navbar">
        <a href="configureUser.html" style="padding: 150px">Configure Users</a>
        <a href="configureCourse.html" style="padding: 150px">Configure Courses</a>
        <a href="/" style="padding: 150px">Log Out</a>
{#        <a href="">Databases</a>#}
{#        <a class="active" href="admin_Home.html">Admin Home</a>#}
    </div>


</body>
</html>