<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Configure User</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body style="background-color: rgb(217,217,217)">
    <br/><a href="/templates/home.html">TA Scheduler</a>
    <div class="navbar">
        <a class="active" href="configureUser.html">Configure Users</a>
        <a href="">Configure Courses</a>
        <a href="">Databases</a>
    </div>
    <button class="addUser" type="button">Add User</button>
    <div class="userBox">
        <h2>Jayson Rock</h2>
        <p>Instructor <br /> Comp Sci 361, Comp Sci 337 <br />
            rock@uwm.edu <br /> 414-414-4141</p>
        <div class="edit-modal" popover id="editModal">
            <h2>Edit user info:</h2>
            <button popovertarget="editModal" popovertargetaction="hide">
                Close
            </button>
        </div>
        <button popovertarget="editModal">Edit</button>
    </div>
    <div class="userBox">
        <h2>Ayesha Siddika Nipu</h2>
        <p>Instructor <br /> Comp Sci 361, Comp Sci 999<br />
            ninpau@uwm.edu <br />414-414-4141</p>
        <div class="edit-modal" popover id="editModal">
            <h2>Edit user info:</h2>
            <button popovertarget="editModal" popovertargetaction="hide">
                Close
            </button>
        </div>
        <button popovertarget="editModal">Edit</button>
    </div>
</body>
</html>