<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Configure Course</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body style="background-color: rgb(217,217,217)">
{#    <br/><a href="/templates/home.html">TA Scheduler</a>#}
<br/><a href="home.html">TA Scheduler</a>
<div class="navbar">
        <a href="configureUser.html" style="padding: 182px">Configure Users</a>
        <a class="active" href="configureCourse.html" style="padding: 182px">Configure Courses</a>
        <a href="/" style="padding: 182px">Log Out</a>
{#        <a href="">Databases</a>#}
{#        <a class="active" href="admin_Home.html">Admin Home</a>#}
    </div>

<div class="addCourseModal">
    <div class="create-course" popover id="createCourse">
        <div class="createNewCourseModalHeader">
            <h2>Add new Course</h2>
        </div>
        <div class="modal-header" id="myModal">
            <div class="modal-dialog">
                <form action=" " method="post">
                    {% csrf_token %}
                    <input type="hidden" name="form_name" value="create_course">
                    <div>
                        <label class="form-label required">Course Name</label>
                        <input type="text" class="form-control" name="course_name">
                    </div>
                    <div>
                        Instructor:
                        <select name="instructor">
                            <option></option>
                            {% for i in instructors %}
                                <option>{{ i.first_name }} {{ i.last_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="submit">
                </form>
            </div>
            <div class="modal-footer">
                <button popovertarget="createCourse" popovertargetaction="hide">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<button popovertarget="createCourse">Add Course</button>

<br>
<div class="addLabModal">
    <div class="create-lab" popover id="createLab">
        <div class="createNewLabModalHeader">
            <h2>Add new Lab</h2>
        </div>
        <div class="modal-header" id="myModal">
            <div class="modal-dialog">
                <form action=" " method="post">
                    {% csrf_token %}
                    <input type="hidden" name="form_name" value="create_lab">
                    <div>
                        <label class="form-label required">Lab Name</label>
                        <input type="text" class="form-control" name="lab_name">
                    </div>
                    <div>
                        Course:
                        <select name="course">
                            <option></option>
                            {% for i in courses %}
                                <option>{{ i.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        TA:
                        <select name="ta">
                            <option></option>
                            {% for i in tas %}
                                <option>{{ i.first_name }} {{ i.last_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="submit">
                </form>
            </div>
            <div class="modal-footer">
                <button popovertarget="createLab" popovertargetaction="hide">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<button popovertarget="createLab">Add Lab</button>
<p style="text-align: center">{{ message }}</p>
    <div class="container">
        <h2 class="container">Courses:</h2>
        <ol class="centered-list ">
            {% for course in courses %}
                <p class="p" >
                    {{ course.name }} <br>
                    <ul>
                        {% for instructor in course.instructors.all %}
                            <li>{{ instructor }}</li>
                        {% empty %}
                            <li>No instructors assigned.</li>
                        {% endfor %}
                    </ul>
                </p>
            {% endfor %}
        </ol>
    </div>
</body>
</html>