<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Configure User</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body style="background-color: rgb(217,217,217)">
{#    <br/><a href="/templates/home.html">TA Scheduler</a>#}
<a href="home.html">
    <img src="/static/Logo.jpeg" alt="TA Scheduler Logo" style="height: 10vh; width: auto;">
</a>
<div class="navbar">
    <a href="admin_home.html" style="padding: 9%">Databases</a>
    <a class="active" href="configure_user.html" style="padding: 9%">Configure Users</a>
    <a href="configure_course.html" style="padding: 9%">Configure Courses</a>
    <a href="/" style="padding: 9%">Log Out</a>
    {#        <a href="">Databases</a>#}
    {#        <a class="active" href="admin_home.html">Admin Home</a>#}
</div>

{% load custom_filters %}

<div class="addUserModal">
    <div class="create-user" popover id="createUser">
        <div class="createNewUserModalHeader">
            <h2>Add new User</h2>
        </div>
        <div class="modal-header" id="myModal">
            <div class="modal-dialog">
                <form action=" " method="post">
                    {% csrf_token %}
                    <input type="hidden" name="form_name" value="create_user">
                    <div class="formTable">

                        <div>
                            <label class="form-label required">First Name:</label>
                            <input type="text" class="form-control" name="first_name" required>
                        </div>
                        <div>
                            <label class="form-label required">Last Name:</label>
                            <input type="text" class="form-control" name="last_name" required>
                        </div>

                        <!--
                            <div>
                                Role:
                                    <select name="role">

                                    </select>
                            </div>

                            <div>
                                <label class="form-label required">Courses</label>
                                <input type="text" class="form-control" name="">
                            </div>
                            -->
                        <div>
                            <label class="form-label required">Username:</label>
                            <input type="text" class="form-control" name="username" required>
                        </div>
                        <div>
                            <label class="form-label required">Password:</label>
                            <input type="text" class="form-control" name="password" required>
                        </div>
                        <div>
                            <label class="form-label required">Email:</label>
                            <input type="email" class="form-control" name="email" required>
                        </div>
                        <div>
                            <label class="form-label">Phone Number:</label>
                            <input type="number" class="form-control" name="phone_number">
                        </div>
                        <div class="fullWidth">
                            <label class="form-label">Address (Include Street Name and Number):</label>
                            <input type="text" class="form-control" name="address">
                        </div>
                        <div class="fullWidth">
                            <label class="form-label required">Role:</label>
                            <select name="role" required>
                                <option></option>
                                {% for i in roles %}
                                    <option value="{{ i.0 }}">{{ i.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="fullWidth">
                            <label class="form-label">Skills:</label>
                            <textarea class="form-control" name="skills" style="resize: none; height: 6.4vh;"></textarea>
                        </div>

                        <!--
                            <div>
                                <label class="form-label required">Courses</label>
                                <input type="text" class="form-control" name="">
                            </div>

                        -->
                    </div>
                    <div class="submitAndCancelButtons">
                        <input type="submit" class="greenBtn" value="Submit">
                        <button type="button" class="cancelButton" popovertarget="createUser"
                                popovertargetaction="hide">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<button popovertarget="createUser" class="addBtn">
    Add User +
</button>
<p style="text-align: center">{{ message }}</p>
<div class="boxContainer">

    {% for user in users %}
        <div class="whiteBox">
            <h2>{{ user.first_name }} {{ user.last_name }}</h2>
            <p>{{ user.role }} <br/>
                {% if user.role == "Instructor" or user.role == "TA"%}
                    {% for section in user.sections.all %}
                        {{ section.name }} - {{ section.course.name }}<br/>
                    {% empty %}
                        No section assigned.<br/>
                    {% endfor %}
                {% else %}
                    No assignments.<br/>
                {% endif %}
                {{ user.email }}<br/>{{ user.phone_number|format_phone }}</p>

            <div class="edit-modal" popover id="editModal {{ user.id }}">
                <h2>Edit user info:</h2>
                <div class="modal-header" id="myModal {{ user.id }}">
                    <form method="POST" action="{% url 'configure_user' %}">
                        {% csrf_token %}
                        <input type="hidden" name="form_name" value="edit_user">
                        <input type="hidden" name="username" value="{{ user.username }}">
                        <div class="modal-dialog">

                            <div>
                                <label class="form-label required" style="display: inline-block">First Name:</label>
                                <input type="text" name="first_name" class="form-control" style="display: inline-block" value="{{ user.first_name }}">
                            </div>
                            <div>
                                <br/>
                                <label class="form-label required" style="display: inline-block">Last Name:</label>
                                <input type="text" name="last_name" class="form-control" style="display: inline-block" value="{{ user.last_name }}">
                            </div>
                            <div class="form-group">
                                <br/>
                                <label for="roleControlSelect1" class="form-label required" style="display: inline-block">Role:</label>
                                <select name="role" class="form-control" id="roleControlSelect1" style="display: inline-block">
                                    <option value="TA" {% if user.role == "TA" %}selected{% endif %}>TA</option>
                                    <option value="Instructor" {% if user.role == "Instructor" %}selected{% endif %}>
                                        Instructor
                                    </option>
                                    <option value="Admin" {% if user.role == "Admin" %}selected{% endif %}>Admin
                                    </option>
                                </select>
                            </div>
                            <div>
                                <br/>
                                <label class="form-label required" style="display: inline-block">Email:</label>
                                <input type="email" name="email" class="form-control" style="display: inline-block" value="{{ user.email }}">
                            </div>
                            <div>
                                <br/>
                                <label class="form-label" style="display: inline-block">Phone Number:</label>
                                <input type="number" name="phone_number" class="form-control" style="display: inline-block"
                                       value="{{ user.phone_number }}">
                            </div>
                            <div>
                                <br/>
                                <label class="form-label" style="display: inline-block">Address (Include Street Name and Number):</label>
                                <input type="text" class="form-control" name="address" style="display: inline-block" value="{{ user.address }}">
                            </div>
                            <div>
                                <br/>
                                <label class="form-label">Skills:</label>
                                <textarea class="form-control" name="skills" style="resize: none; height: 6.4vh;" >{{ user.skills }}</textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="greenBtn">Save</button>
                            <button type="button" class="cancelButton"
                                    popovertarget="editModal {{ user.id }}"
                                    popovertargetaction="hide">
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <br/>
            <div class="buttons-container">
                <button class="editButton" popovertarget="editModal {{ user.id }}">Edit</button>
                <form method="POST" action="{% url 'configure_user' %}">
                    {% csrf_token %}
                    <input type="hidden" name="form_name" value="remove_user">
                    <input type="hidden" name="user_id" value="{{ user.id }}">

                    <button type="submit" class="removeButton ">Remove</button>
                </form>
            </div>
        </div>
    {% endfor %}
</div>
</body>
</html>
