<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Configure Course</title>
    <link rel="stylesheet" href="/static/style.css?v=1"/>
</head>
<body style="background-color: rgb(217,217,217)">
{#    <br/><a href="/templates/home.html">TA Scheduler</a>#}
<a href="home.html">
    <img src="/static/Logo.jpeg" alt="TA Scheduler Logo" style="height: 75px; width: auto;">
</a>
<div class="navbar">
    <a href="configure_user.html" style="padding: 150px">Configure Users</a>
    <a class="active" href="configure_course.html" style="padding: 150px">Configure Courses</a>
    <a href="/" style="padding: 150px">Log Out</a>
    {#        <a href="">Databases</a>#}
    {#        <a class="active" href="admin_home.html">Admin Home</a>#}
</div>

<div class="addCourseModal">
    <div class="create-course" popover id="createCourse">
        <div class="createNewCourseModalHeader">
            <h2>Add new Course</h2>
        </div>
        <div class="modal-header" id="myModal">
            <div class="modal-dialog">
                <form action=" " method="post">
                    {% csrf_token %}
                    <input type="hidden" name="form_name" value="create_course">
                    <div>
                        <label class="form-label required">Course Name</label>
                        <input type="text" class="form-control" name="course_name" required>
                    </div>
                    <div>
                        <label class="form-label required">Instructor:</label>
                        <select name="instructor">
                            <option></option>
                            {% for i in instructors %}
                                <option>{{ i.first_name }} {{ i.last_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="submit">
                </form>
            </div>
            <div class="modal-footer">
                <button popovertarget="createCourse" popovertargetaction="hide">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<button popovertarget="createCourse">Add Course</button>

<br>
<div class="addSectionModal">
    <div class="create-section" popover id="createSection">
        <div class="createNewSectionModalHeader">
            <h2>Add new Section</h2>
        </div>
        <div class="modal-header" id="myModal">
            <div class="modal-dialog">
                <form action=" " method="post">
                    {% csrf_token %}
                    <input type="hidden" name="form_name" value="create_section">
                    <fieldset>
                        <legend>Section Details</legend>
                        <div>
                            <label class="form-label required">Section Name:</label>
                            <input type="text" class="form-control" name="section_name" required>
                        </div>
                        <div>
                            <label class="form-label required">Course:</label>
                            <select name="section_course" required>
                                <option></option>
                                {% for i in courses %}
                                    <option>{{ i.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </fieldset>
                <hr>
                    <fieldset>
                        <legend>Schedule</legend>
                        <div>
                            <label class="form-label required">Day(s):</label>
                            <div class="day-checkboxes">
                                {% for day, day_label in days %}
                                    <div>
                                        <input type="checkbox"
                                               name="section_days"
                                               value="{{ day }}"
                                               {% if section.days and day in section.days %}checked{% endif %}>
                                        <label>{{ day_label }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div>
                            <label class="form-label required">Time:</label>
                            <input type="time" class="form-control" name="section_time"/>
                        </div>
                    </fieldset>
                    <hr>
                <fieldset>
                <legend>Location & Users</legend>
                        <div>
                            <label class="form-label required">Location:</label>
                            <input type="text" class="form-control" name="section_location">
                        </div>
                        <div>
                            <label class="form-label required">Assign User:</label>
                            <select name="section_user">
                                <option></option>
                                {% for user in users %}
                                    {% if user.role == "Instructor" or user.role == "TA" %}
                                    <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}
                                        ({{ user.role }}) (
                                        {% for course in user.courses.all %}
                                        {{ course }},
                                        {% endfor %}
                                        )
                                    </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </fieldset>
                    <input type="submit">
                </form>
            </div>
            <div class="modal-footer">
                <button popovertarget="createSection" popovertargetaction="hide">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<button popovertarget="createSection">Add Section</button>
<p style="text-align: center">{{ message }}</p>

<div class="boxContainer">
    {# displays in the order of course name, all instructors, and all labs and their respective ta #}
    {% for course in courses %}
        <div class="whiteBox">
            <h2>{{ course.name }}</h2>
            <p><b>Instructors</b><br/>
                {% for instructor in course.instructors.all %}
                    {{ instructor }}<br/>
                {% empty %}
                    No Instructor Assigned<br/>
                {% endfor %}
            <div class="edit-course-modal" popover id="editCourseModal {{ course.id }}">
                <h2>Edit Course info:</h2>
                <div class="modal-header" id="myModal {{ course.id }}">
                    <form method="POST" action="{% url 'configure_course' %}">
                        <div class="modal-dialog">
                            {% csrf_token %}
                            <input type="hidden" name="form_name" value="edit_course">
                            <input type="hidden" name="course_id" value="{{ course.id }}">
                            <div>
                                <label class="form-label required">Course Name</label>
                                <input type="text" name="name" class="form-control" value="{{ course.name }}">
                            </div>
                            <div>
                                <label class="form-label required">Instructors</label>
                                <div class="instructor-checkboxes">
                                    {% for instructor in instructors %}
                                        <div>
                                            <input type="checkbox"
                                                   name="instructor[]"
                                                   value="{{ instructor.id }}"
                                                   {% if instructor in course.instructors.all %}checked{% endif %}>
                                            <label>{{ instructor }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-secondary"
                                    popovertarget="editCourseModal {{ course.id }}"
                                    popovertargetaction="hide">
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <button popovertarget="editCourseModal {{ course.id }}">Edit Course</button>
            <br/><br/>

            <b>Sections and Users</b><br/>
            {% for section in sections %}
                {% if section.course.name == course.name %}
                    {% if section.user %}
                        {{ section.user }}<br/>
                    {% else %}
                        No User Assigned<br/>
                    {% endif %}
                    {{ section }}<br/>
                    <div class="addSectionModal" popover id="editLabModal {{ section.id }}">
                        <h2>Edit Section info:</h2>
                        <div class="modal-header" id="myModal {{ section.id }}">
                            <form action=" " method="post">
                    {% csrf_token %}
                    <input type="hidden" name="form_name" value="edit_section">
                    <input type="hidden" name="section_id" value="{{ section.id }}">
                    <fieldset>
                        <legend>Section Details</legend>
                        <div>
                            <label class="form-label required">Section Name:</label>
                            <input type="text" class="form-control" name="section_name" value="{{ section.name }}" required>
                        </div>
                        <div>
                            <label class="form-label required">Course:</label>
                            <select name="section_course" required>
                                <option></option>
                                {% for i in courses %}
                                    {% if i == section.course %}
                                        <option selected>{{ i.name }}</option>
                                    {% else %}
                                        <option>{{ i.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </fieldset>
                <hr>
                    <fieldset>
                        <legend>Schedule</legend>
                        <div>
                            <label class="form-label required">Day(s):</label>
                            <div class="day-checkboxes">
                                {% for day, day_label in days %}
                                    <div>
                                        <input type="checkbox"
                                               name="section_days"
                                               value="{{ day }}"
                                               {% if section.days and day in section.days %}checked{% endif %}>
                                        <label>{{ day_label }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div>
                            <label class="form-label required">Time:</label>
                            <input type="time" class="form-control" name="section_time"/>
                        </div>
                    </fieldset>
                    <hr>
                <fieldset>
                <legend>Location & Users</legend>
                        <div>
                            <label class="form-label required">Location:</label>
                            <input type="text" class="form-control" name="section_location" value="{{ section.location }}">
                        </div>
                        <div>
                            <label class="form-label required">Assign User:</label>
                            <select name="section_user">
                                <option></option>
                                {% for user in users %}
                                    {% if user == section.user %}
                                        {% if user.role == "Instructor" or user.role == "TA" %}
                                        <option value="{{ user.id }}" selected>{{ user.first_name }} {{ user.last_name }}
                                            ({{ user.role }}) (
                                            {% for course in user.courses.all %}
                                            {{ course }},
                                            {% endfor %}
                                            )
                                        </option>
                                        {% endif %}
                                    {% else %}
                                        {% if user.role == "Instructor" or user.role == "TA" %}
                                        <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}
                                            ({{ user.role }}) (
                                            {% for course in user.courses.all %}
                                            {{ course }},
                                            {% endfor %}
                                            )
                                        </option>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </fieldset>
                    <input type="submit">
                </form>
                        </div>
                    </div>
                    <button popovertarget="editLabModal {{ section.id }}">Edit Section</button>
                    <br/><br/>
                {% endif %}
            {% endfor %}
            <br/>
            </p>
        </div>
    {% endfor %}
</div>
</body>
</html>