<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Configure User</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body style="background-color: rgb(217,217,217)">
{#    <br/><a href="/templates/home.html">TA Scheduler</a>#}
<br/><a href="home.html">TA Scheduler</a>
<div class="navbar">
        <a class="active" href="configureUser.html" style="padding: 150px">Configure Users</a>
        <a href="configureCourse.html" style="padding: 150px">Configure Courses</a>
        <a href="/" style="padding: 150px">Log Out</a>
{#        <a href="">Databases</a>#}
{#        <a class="active" href="admin_Home.html">Admin Home</a>#}
    </div>

<div class="addUserModal">
    <div class="create-user" popover id="createUser">
        <div class="createNewUserModalHeader">
            <h2>Add new User</h2>
        </div>
        <div class="modal-header" id="myModal">
            <div class="modal-dialog">
                <form action=" " method="post">
                    {% csrf_token %}
                    <input type="hidden" name="form_name" value="create_user">
                    <div>
                        <label class="form-label required">First Name</label>
                        <input type="text" class="form-control" name="first_name">
                    </div>
                    <div>
                        <label class="form-label required">Last Name</label>
                        <input type="text" class="form-control" name="last_name">
                    </div>
                    <!--
                        <div>
                            Role:
                                <select name="role">

                                </select>
                        </div>

                        <div>
                            <label class="form-label required">Courses</label>
                            <input type="text" class="form-control" name="">
                        </div>
                        -->
                    <div>
                        <label class="form-label required">Username</label>
                        <input type="text" class="form-control" name="username">
                    </div>
                    <div>
                        <label class="form-label required">Password</label>
                        <input type="text" class="form-control" name="password">
                    </div>
                    <div>
                        <label class="form-label required">Email</label>
                        <input type="email" class="form-control" name="email">
                    </div>
                    <div>
                        <label class="form-label required">Phone Number</label>
                        <input type="number" class="form-control" name="phone_number">
                    </div>
                    <div>
                        <label class="form-label ">Address</label>
                        <input type="text" class="form-control" name="address">
                    </div>
                    <div>
                        Role:
                        <select name="role">
                            <option></option>
                            {% for i in roles %}
                                <option value="{{ i.0 }}">{{ i.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!--
                        <div>
                            <label class="form-label required">Courses</label>
                            <input type="text" class="form-control" name="">
                        </div>

                    -->
                    <input type="submit">
                </form>
            </div>
            <div class="modal-footer">
                <button popovertarget="createUser" popovertargetaction="hide">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<button popovertarget="createUser">Add User</button>
<p style="text-align: center">{{ message }}</p>
<h2 class="container">Users:</h2>
<div class="userContainer">
    {% for user in users %}
        <div class="userBox">
            <h2>{{ user.first_name }} {{ user.last_name }}</h2>
            <p>{{ user.role }} <br/>
                {% if user.role == "Instructor" %}
                    {% for course in user.courses.all %}
                        {{ course.name }}<br/>
                    {% empty %}
                        No Courses.<br/>
                    {% endfor %}
                {% endif %}
                {% if user.role == "TA" %}
                    {% for lab in user.labs.all %}
                        {{ lab.name }}<br/>
                    {% empty %}
                        No Labs.<br/>
                    {% endfor %}
                {% endif %}
                {% if user.role == "Admin" %}
                    No Courses.<br/>
                {% endif %}
                <br/>
                {{ user.email }}<br/>{{ user.phone_number }}</p>
            <div class="edit-modal" popover id="editModal {{ user.id }}">
                <h2>Edit user info:</h2>
                <div class="modal-header" id="myModal {{ user.id }}">
                    <form method="POST" action="{% url 'configure_user' %}">
                       {% csrf_token %}
                        <input type="hidden" name="form_name" value="edit_user">
                        <input type="hidden" name="username" value="{{ user.username }}">
                        <div class="modal-dialog">

                            <div>
                                <label class="form-label required">First Name</label>
                                <input type="text" name="first_name" class="form-control" value="{{ user.first_name }}">
                            </div>
                            <div>
                                <label class="form-label required">Last Name</label>
                                <input type="text" name="last_name" class="form-control" value="{{ user.last_name }}">
                            </div>
                            <div class="form-group">
                                <label for="roleControlSelect1">Role</label>
                                <select name="role" class="form-control" id="roleControlSelect1">
                                    <option value="TA" {% if user.role == "TA" %}selected{% endif %}>TA</option>
                                    <option value="Instructor" {% if user.role == "Instructor" %}selected{% endif %}>
                                        Instructor
                                    </option>
                                    <option value="Admin" {% if user.role == "Admin" %}selected{% endif %}>Admin
                                    </option>
                                </select>
                            </div>
                            <div>
                                <label class="form-label required">Email</label>
                                <input type="email" name="email" class="form-control" value="{{ user.email }}">
                            </div>
                            <div>
                                <label class="form-label required">Phone Number</label>
                                <input type="number" name="phone_number" class="form-control"
                                       value="{{ user.phone_number }}">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-secondary" popovertarget="editModal {{ user.id }}"
                                    popovertargetaction="hide">
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <button popovertarget="editModal {{ user.id }}">Edit</button>
            <br/><br/>
        </div>
    {% endfor %}
</div>
</body>
</html>