<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | User Directory | Scheduler</title>
    <link href="/static/style.css" rel="stylesheet"/>
</head>
<body style="background-color: rgb(217,217,217)">
<h1>Course Directory</h1>
<h1></h1>
<br/><a href="home.html">TA Scheduler</a>
    <div class="navbar">
{#        <a href="configureUser.html">Configure Users</a>#}
{#        <a href="">Configure Courses</a>#}
{#        <a href="">Databases</a>#}
        <a href="admin_Home.html">Admin Home</a>
        <a href="user_Directory.html">User Directory</a>
        <a class = "active" href="course_Directory.html">Course Directory</a>
        
    </div>
    <div class="container">
        <h2 class="container">Courses:</h2>
        <ol class="centered-list ">
            {% for course in courses %}
                <p class="p" >
                    {{ course.name }} <br>
                    <ul>
                        {% for instructor in course.instructors.all %}
                            <li>{{ instructor }}</li>
                        {% empty %}
                            <li>No instructors assigned.</li>
                        {% endfor %}
                    </ul>
                </p>
            {% endfor %}
        </ol>
    </div>

</body>
</html>