<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Section Assignment | Scheduler</title>
    <link rel="stylesheet" href="/static/style.css?v=1">
</head>
<body style="background-color: rgb(217,217,217)">
<h1>Edit Section Assignment</h1>

<div class="pfplogo1">
    <a href="home.html">
        <img src="/static/Logo.jpeg" alt="TA Scheduler Logo" style="height: 10vh; width: auto;">
    </a>
</div>
    <div class="pfplogo2">
    <a href="profile_page.html" >
        <img src="/static/moo_deng_profilePic.png" alt="Profile Logo" style="height: 10vh; width: auto;">
    </a>
    </div>
<div class="navbar">
{#    <a href="admin_home.html" style="padding: 9vh">Admin Home</a>#}
    <a href="profile_page.html" style="padding: 9vh">Edit Account</a>
    <a href="edit_section_assignment.html" class="active">Edit Section Assignment</a>


{#    <a href="user_directory.html" style="padding: 9vh">User Directory</a>#}
{#    <a href="course_directory.html" style="padding: 9vh">Course Directory</a>#}
    <a href="/" style="padding: 9vh">Log Out</a>
</div>

</body>
</html>