<!DOCTYPE html>
<html lang="en">
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #f4f4f4;
    }

    table {
        margin: auto
    }

    td {
        text-align: center
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>TA Scheduler Login Page</title>
</head>
<body>
<div class="loginContainer">
    <div>
        <h1 style="line-height: 50px; display: flex; justify-content: center; background-color: #54d38e; width:400px; height: 50px; border: 2px solid black;
        margin: 0; padding: 0">Login</h1>
    </div>
    <div style="display: flex; justify-content: center">
        <form action="/" method="post" style="border: 2px solid black; width:400px; height: 166px;
        background-color: rgb(217,217,217)">
            <br>
            {% csrf_token %}
            <table>
                <tr>
                    <td style="font-size: 20px">Username:</td>
                    <td><input style="font-size: 20px" type="text" name="username"></td>
                </tr>
                <tr>
                    <td style="font-size: 20px">Password:</td>
                    <td><input style="font-size: 20px" type="password" name="password"></td>
                </tr>
            </table>
            <div class="buttonAlignment">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <br><br>
            {{ message }}
        </form>
    </div>
</div>
</body>
</html>
