<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | User Directory | Scheduler</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body style="background-color: rgb(217,217,217)">
<h1>User Directory</h1>
<br/><a href="home.html">TA Scheduler</a>
<div class="navbar">
    <a href="admin_Home.html" style="padding: 110px">Admin Home</a>
    <a class="active" href="user_Directory.html" style="padding: 110px">User Directory</a>
    <a href="course_Directory.html" style="padding: 110px">Course Directory</a>
    <a href="/" style="padding: 110px">Log Out</a>
</div>
<h2 class="container">Users:</h2>
<div class="userContainer">
    {% for user in users %}
        <div class="userBox">
            <h2>{{ user.first_name }} {{ user.last_name }}</h2>
            <p>{{ user.role }} <br/>
            {% if user.role == "Instructor" %}
            {% endif %}
                {% if user.role == "Instructor" %}
                    {% for course in user.courses.all %}
                        {{ course.name }}
                    {% empty %}
                        No Courses.
                    {% endfor %}
                {% elif user.role == "TA" %}
                    <!-- Display courses where the user is a TA -->
                    {% for lab in user.labs.all %}
                        {{ lab.course.name }} (Lab: {{ lab.name }})<br/>
                    {% empty %}
                        <li>No labs assigned.</li>
                    {% endfor %}
                {% endif %}
                {% if user.role != "Instructor" %}
                    Not an Instructor
                {% endif %}
                <br/>
                {{ user.email }}<br/>{{ user.phone_number }}</p>
        </div>
    {% endfor %}
</div>
</body>
</html>