<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | User Directory | Scheduler</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body style="background-color: rgb(217,217,217)">
<h1>User Directory</h1>
<h1>Accessible via Home Page Through a Button</h1>
<br/><a href="home.html">TA Scheduler</a>
    <div class="navbar">
{#        <a href="configureUser.html">Configure Users</a>#}
{#        <a href="">Configure Courses</a>#}
{#        <a href="">Databases</a>#}
        <a href="admin_Home.html" style="padding: 125px">Admin Home</a>
        <a class="active" href="user_Directory.html" style="padding: 125px">User Directory</a>
        <a href="course_Directory.html" style="padding: 125px">Course Directory</a>
        <a href="/" style="padding: 125px">Log Out</a>
    </div>
    <div class="container">
        <h2 class="container">Users:</h2>
        <ol class="centered-list ">
            {% for user in users %}
                <p class="p" >
                    {{ user.first_name }} {{ user.last_name }}<br>
                    <ul>
                        <li><span>{{ user.role }}</span></li>
                        <li><span>Courses:</span></li>
                        {% for course in courses %}
                            <ul>
                                <li class="courselist">{{ course.name }}</li>
                            </ul>
                        {% empty %}
                            <li>No courses assigned.</li>
                        {% endfor %}
                        <li><span>{{ user.email }}</span></li>
                        <li><span>{{ user.phone_number }}</span></li>
                    </ul>
                </p>
            {% endfor %}
        </ol>
    </div>
</body>
</html>