<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | User Directory | Scheduler</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body style="background-color: rgb(217,217,217)">
<a href="home.html">
    <img src="/static/Logo.jpeg" alt="TA Scheduler Logo" style="height: 75px; width: auto;">
</a>
<a href="profile_page.html" style="margin-left: 95%">Profile</a>
<div class="navbar">
    <a href="admin_home.html" style="padding: 110px">Admin Home</a>
    <a class="active" href="user_directory.html" style="padding: 110px">User Directory</a>
    <a href="course_directory.html" style="padding: 110px">Course Directory</a>
    <a href="/" style="padding: 110px">Log Out</a>
</div>
<h2 class="container">Users:</h2>
<div class="boxContainer">
    {% for user in users %}
        <div class="whiteBox">
            <h2>{{ user.first_name }} {{ user.last_name }}</h2>
            <p>{{ user.role }} <br/>
            {% if user.role == "Instructor" %}
            {% endif %}
                <p><strong>Courses:</strong><br/>
                {% if user.role == "Instructor" %}
                    {% for course in user.courses.all %}
                        {{ course.name }}<br/>
                    {% empty %}
                        No courses assigned.<br/>
                    {% endfor %}
                {% elif user.role == "TA" %}
                    {% for section in user.sections.all %}
                        {{ section.name }}<br/>
                    {% empty %}
                        No section assigned.<br/>
                    {% endfor %}
                {% else %}
                    No assignments.<br/>
                {% endif %}
                </p>
            <p><strong>Skills:</strong><br/>
                <textarea readonly style="width: 95%; height: 60px; overflow-y: scroll; resize: none;"> {{ user.skills }}
                </textarea>
            </p>

            <p>{{ user.email }}<br/>{{ user.phone_number }}</p>
        </div>
    {% endfor %}
</div>
</body>
</html>